<hr>
<div class="row">
    <div class="container m-4">
        <!-- <div class="row">
            <h1 *ngIf="answers.length != 0">{{answers.answerCount}} Answer<h1 *ngIf="answers.answerCount > 1"
                    style="display: inline-block;">s</h1>
            </h1>
        </div> -->

        <div class="row" *ngFor="let answer of answers">
            <mat-card class="question-card mb-4" style="width:100% !important;">
                <mat-card-content>{{answer.content}}</mat-card-content>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-6">
                        <div class="row d-flex justify-content-end">
                            <p style="font-size: 12px; margin-right:3px;">answered by</p><a class="question-card-link-item" [routerLink]="['/profile',user?._id]"><span>{{user?.name}}</span></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <app-like [data]="answer" [likeType]="likeType" [likeConfig]="likeConfig"></app-like>
                    </div>                    
                </div>
            </mat-card>
        </div>

        <div>
            <h1>Your Answer</h1>
            <div class="row section-ask">
                <form method="post" class="questionForm" [formGroup]="editQuestionForm" (ngSubmit)="addAnswer()">
                    <ckeditor style="height:10%;" formControlName="content" name="PageContent" required
                        [config]="ckeConfig" debounce="500"></ckeditor>
                    <!-- <mat-error *ngIf="newUserForm.get('email').hasError('required')">Email is <strong>required</strong></mat-error> -->
                    <button class="question-button" type="submit" mat-raised-button color="primary">Post Your
                        Answer</button>
                </form>
            </div>
        </div>
    </div>
</div>